[flake8]
max-line-length = 120

exclude =
    .git,
    __pycache__,
    .streamlit,
    .venv,
    venv,
    .idea,
    build,
    dist,
    *.egg-info,
    .pytest_cache,
    .mypy_cache,

ignore=
    D400,
    D401,
    D403,
    D205,
    D212,
    ANN101,
    ANN204,